<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>WE-Guestbook</display-name>


	<filter>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>gb.BlacklistFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BlacklistFilter</filter-name>
        <url-pattern>/CreateSubmit</url-pattern>
    </filter-mapping>
    <servlet>
        <description>
            Servlet das nur fuer Initialisierungs-Aufgaben beim Starten
            der Web-Applikation zustaendig ist.
        </description>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>gb.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <context-param>
        <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
        <param-value>/WEB-INF/tiles.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
    
    
        <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!-- 
    <filter>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>gb.BlacklistFilter</filter-class>
    </filter>
 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
